body{
	--bs-body-bg:  #0d3b66;
	margin-bottom: 20px;
}
.navbar{
	--bs-navbar-active-color: #ffc300;
	--bs-navbar-color:  hsla(0,0%,100%,.9);
	background: #3d48b5;
}
.navbar-nav {
	--bs-navbar-hover-color: #ffc300;
}
.navbar .collapse {
	justify-content: space-between;
}
.btn-primary{
	--bs-btn-color: #0d3b66;
	--bs-btn-bg:  #ffc300;
	border: none;
}

ul {
	padding-left: 0;
}

ul li {
	margin-left: 2rem;
}

main{
	background: white;
	min-height: calc(100vh - 66px - 40px);
	position: relative;
    top: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

aside li {
	margin-bottom: 10px;
    padding: 12px 17px;
    border-radius: 4px;
    color: hsla(0,0%,100%,.7);
    cursor: pointer;
}

aside li.active {
	background: #495aff;
    color: #fff;
}


pre {
	border: 1px dashed #000;
	padding: 5px;
	background: #000;
	color: #fff;
}

.list-group {
	color: white;
	font-size: 18px;
	font-weight: bold;
}

.warning {
	background:  #ffc300;
	padding: 5px 10px;
	margin-bottom: 15px;
}

.logo{
	background-image:url('https://www.awdpay.com/api/public/logo-1655717095382-127474816.png'); 
	height: 60px;
	width: 200px;
    margin: 0 auto;
    background-size: cover;
    background-position: 0;
}